<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>Budezz</title>
    <link rel="icon" href="favicon.ico" type="image/png">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styleHome.css" rel="stylesheet" type="text/css">
    <link href="css/styleHome_new.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->
    <script type="text/javascript" src="js/jquery.1.8.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="js/respond-1.1.0.min.js"></script>
    <script src="js/html5shiv.js"></script>
    <script src="js/html5element.js"></script>
<![endif]-->
    <script>
    $(document).ready(function() {
        $("#signup").submit(function(event) {
            var type = $('input[name=optionsRadios]:checked', '#signup').val()
            if (type == 1) {
                window.location = "sign-up-user-account.html";
            } else {
                window.location = "sign-up-vendor-account.html";
            }
            return false;
        });
    });
    </script>
</head>

<body class="loginBg" ng-app="app">
    <!--Header_section-->
    <div ui-view class="container" ng-controller="postserviceCtrl">
        
    </div>
    <!-- Account Type Popup open -->
    <div id="signin-option" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content signpop">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title signpoptitle">Sign Up <br><span style="font-size: 15px">Select Nature of Account</span></h4> </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group signup-pop">
                            <div class="row">
                                <div class="col-md-12">
                                    <a ui-sref="register"  data-dismiss="modal">
                                        <div class="width100"><img src="images/user.png"></div>
                                        <div class="width100 p-t-10">User</div>
                                    </a>
                                </div>
                            </div>
                            <div class="row p-t-25">
                                <div class="col-md-12">
                                    <a href="sign-up-vendor-account.html"  data-dismiss="modal">
                                        <div class="width100"><img src="images/vendor.png"></div>
                                        <div class="width100 p-t-10">Vendor</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Account Type Popup close -->
    <!-- Forgot Password Popup open -->
    <div id="forgotpassword" class="modal fade" role="dialog" ng-controller="forgotController">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close greencolor" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Forgot Password</h4> </div>
                <div class="modal-body">
                    <div ng-if="error" class="alert alert-danger" >{{ error }}</div>
                    <div ng-if="sucess" class="alert alert-info" >{{ sucess }}  Now login <a href="#login">Here</a></div>
                    <form>
                        <div class="form-group">
                            <input ng-model="email" value="{{ email }}" class="form-control" type="text" placeholder="Email ID"> </div>
                        <button type="button" class="btn btn-primary btn-lg btn-block"  ng-click="forgot(email)">SEND EMAIL</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot Password Popup close -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
